:root {
    --red: #fa6262;
    --blue: #cae9f2;
    --bg-gray: #fbfbfb;
    --yellow: #fffacc;
    --green: #e2efc7;
    --pink: #efc7c7;
    --font-color: #000;
    --blue-solid: #a1dbed;
    --green-solid: #d4eda1;
  }
  @font-face {
    font-family: "Poppins";
    src:
      local("/fonts"),
      url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype"),
      url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
      url("/fonts/Poppins/Poppins-Black.ttf") format("truetype"),
      url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");      
  }
  @font-face {
    font-family: "Inter";
    src:
      local("/fonts"),
      url("/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf format") format("truetype"),
      url("/fonts/Inter/static/Inter-Regular.ttf") format("truetype");        
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }
  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 30px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.header-item1 {
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #FA6262;
}
.header-item2{
  gap: 1rem;
  display: flex;
}
  
  .card-container {
    display: flex;
    gap: 10px;
    width: 72%;
    flex-direction: column;
    align-items: baseline;
  }
  .card-item:hover{
    transform: scale(1.2);
    
  }
  .card-item {
  border-radius: 16px;
  background-color: #FBFBFB;
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  box-shadow: 3px 4px 12px 0px #0000001A; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: space-between;
  justify-content: space-between;
}
  main {
    display: flex;
    padding: 10px;
    margin: 30px;
    flex-direction: column-reverse;
    max-width: 100%;
    max-height: 100%;
    gap: 40px;
    width: 1440px;
    height: 879px;
    justify-content: flex-end;
    align-items: center;
}
  p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

  }
  h1{
    font-family: 'Poppins';
    font-size: 42px;
    font-weight: 800;
    /*line-height: 78px;*/
    letter-spacing: 0em;
    text-align: left;

  }
  h2{
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

  }
.nav{
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-decoration: none;
  }
.gothenburg{
  background-color: #FFFACC;
  border-radius: 25px;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  width:68px;
  height: 15px;
}
.office{
  border-radius: 25px;
  background-color: #C7E3EF;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  width:68px;
  height: 15px;
}
.jobs{
  border-radius: 25px;
  background-color: #E2EFC7;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  width:68px;
  height: 15px;
}
.money{
  border-radius: 25px;
  background-color: #EFC7C7;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  width:68px;
  height: 15px;
}
.animal{
  border-radius: 25px;
  background-color: #E2EFC7;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  width:68px;
  height: 15px;
}
.welcome-bottom-small {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  background-color: #C7E3EF;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  width: 30%;
  height: 50px;
  color: #000000;
}
.learn {
  background-color: #C7E3EF;
  
}
.about {
  background-color: #E2EFC7;
  
}
.red-box {
  width: 42px;
  height: 41px;
  top: 224px;
  left: 259px;
  border-radius: 0px 0px 16px 0px;
  background-color: #FF7B7B;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.red-box-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.blue {
  position: relative;
  height: 100%;
  width: 30%;
  border-radius: 16px;
  background-color: #A1DBED;
  display: flex;
  align-content: space-around;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  /*left: 9%;*/
}
.green {
  position: relative;
  height: 100%;
  width: 30%;
  border-radius: 16px;
  background-color: #D4EDA1;
  display: flex;
  align-content: space-around;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  /*left: 9%;*/
}
.welcome-container {  
  padding-left: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.welcome-item {
  display: flex;
  flex-direction: column;
}
.welcome-p {
  font-family: 'Inter';  
  font-size: 23px;
}
.top-welcome-box {
  display: flex;
  justify-content: center;
}
.middle-welcome-box {
  width:22rem;
  display: flex;    
  padding-right: 0px;     
}
.small-container2 {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: space-around;
}
.small-container {
  display: flex;
  gap: 5px;
  width: 100%;  
}
img {
  height: 30%;
  width: 30%;
}
.arrow {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learn:hover{
  transform: scale(1.2);
}
.about:hover{
  transform: scale(1.2);
}
@media (min-width:360px){
  main {
    display: flex;
    padding: 10px;
    margin: 30px;
    flex-direction: column-reverse;
    max-width: 100%;
    max-height: 100%;
    gap: 40px;
    width: 1440px;
    height: 879px;
    justify-content: flex-end;
    align-items: center;
}
.card-container {
  display: flex;
  gap: 10px;
  width: 72%;
  flex-direction: column;
  align-items: baseline;
}
.card-item {
  border-radius: 16px;
  background-color: #FBFBFB;
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  box-shadow: 3px 4px 12px 0px #0000001A; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: space-between;
  justify-content: space-between;
}
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 30px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.header-item1 {
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #FA6262;
}
.header-item2{
    gap: 1rem;
    display: flex;
}
.welcome-container {  
  padding-left: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.top-welcome-box {
  display: flex;
  justify-content: center;
}
.middle-welcome-box {
    width:22rem;
    display: flex;    
    padding-right: 0px;     
}
h1 {
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 800;  
  letter-spacing: 0em;
  text-align: left;
}
.small-container2 {
    display: flex;
    gap: 4rem;
    width: 100%;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.welcome-bottom-small {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    background-color: #C7E3EF;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    width: 30%;
    height: 50px;
    color: #000000;
}
.learn {
  background-color: #C7E3EF;
  
}
.about {
  background-color: #E2EFC7;
  
}
}
@media (min-width:820px){
  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}
.header-item1 {
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #FA6262;
}
.nav {  
  font-size: 20px;
}
.welcome-container {
  position: fixed;
  padding: 10px;
  display: flex;
  width: 100%;
  left: 29rem;
  justify-content: flex-start;
}
.welcome-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}
.middle-welcome-box {
    
    display: flex;    
    padding-right: 0px;
    padding-bottom: 10px;    
}
.small-container2 {
    display: flex;
    gap: 4rem;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
main {
  display: flex;
  padding: 10px;
  margin: 30px;
  flex-direction: column-reverse;
  max-width: 100%;
  max-height: 100%;
  gap: 40px;
  width: 1440px;
  height: 879px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card-container {
    display: flex;
    gap: 10px;
    width: 50%;
    flex-direction: column;
    align-items: baseline;
}
.card-item {    
    border-radius: 16px;
    background-color: #FBFBFB;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    box-shadow: 3px 4px 12px 0px #0000001A;    
    height: 50%;
    padding: 10px;    
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: space-between;
    justify-content: space-between;
    padding-bottom: 0px;
}

}

@media (min-width:1200px){
  .header-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 30px;    
  }
  .header-item1{
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #FA6262;    
  }
  .header-item2{    
    color: black;    
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
    flex-direction: row;
}
  
.card-item {
  border-radius: 16px;
  background-color: #FBFBFB;
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  box-shadow: 3px 4px 12px 0px #0000001A;
  width: calc(50% - 5px);
  /* position: relative; */
  /* width: 305px; */
  height: 50%;
  padding: 10px;
  padding-bottom: 0px;
  padding-right: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: space-between;
  justify-content: space-between;
}
main {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 30px;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  gap: 40px;
  width: 1200px;
  height: 879px;
  align-content: center;
  align-items: stretch;
}
  
  
  
.nav{
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-decoration: none;
  }

  .welcome-container {
    left: 0px;
    position: relative;
    padding-left: 5px;
    display: flex;
    width: 50%;
}
.welcome-item {
  display: flex;
  flex-direction: column;
}
.welcome-p {
  font-family: 'Inter';  
  font-size: 23px;
}
.top-welcome-box {
  display: flex;
}
.middle-welcome-box {
  width: 24rem;
  display: flex;
  padding-left: 15px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-top: 1px;
}
.small-container2 {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: space-around;
}
.small-container {
  display: flex;
  gap: 5px;
  width: 100%;  
}
}